
.icon-mail:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-calendar-1:before { content: '\e802'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */