body {
    padding: 0;
    margin: 0;
    background-color: #444444;

    color: black;
}
.vcenter {
    display: flex;
    align-items: center;
}
.max-w-1200 {
    max-width: 1200px !important;
}
.separator {
    border-bottom: 1px solid rgb(25, 255, 25);
    margin: 1vmin 0 1vmin 0;
}
.bg-test {
    background-color: rgba(137, 43, 226, 0.61);
}

.bg-test2 {
    background-color: rgba(0, 0, 0, 0.719);
}

.headerTile {
    margin-top: 1vw;
    box-shadow: 1vw 1vw 2vw black;
    font-size: 5vmin;
}

#navigation {
    height: 100%;
}
#welcomeHeader {
    position: relative;
    background-color: rgba(20, 20, 20, 0.37);
    color: lavender;
    height: 100%;
}

#welcomeHeader p {
    padding: 0;
    margin: 0;
} 
#welcomeHeader h1 {
    font-size: 2.4em;
}   
.squares {
    position: absolute;
    width: 30%;
    height: 40%;
}
.insideSQ {
    position: relative;
    height: 100%;
    width: 100%;
}

.SQred {
    position: absolute;
    width: 66%;
    height: 66%;
    background-color: rgba(255, 0, 0, 0.25);
    left: 0;
    top: 0;
    z-index: 1;
    margin-left: 0.5vw;
}
.SQblue {
    position: absolute;
    background-color: rgba(0, 0, 255, 0.25);
    width: 66%;
    height: 66%;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
}
.SQgreen {
    position: absolute;
    background-color: rgba(0, 128, 0, 0.25);
    width: 33%;
    height: 33%;
    left: 20%;
    bottom: 20%;
    z-index: 1;
}

.pos-topright {
    right: 0;
    top: 0;
}

.pos-bottomleft {
    left: 0;
    bottom: 0;
}

.backImg {
    background-image: url('../img/bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: content-box;
    
}

.topPanel {
    height: 100vh;
}


 #navPanel {
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.37);
    
 }

.navTile {
    position: relative;
    width: 33.33%;
    height: 50%;   
    padding-bottom: 2vh;
    /* border: 2px solid white; */
    color: lavender;
}

.navTile:hover {
    background-color: rgba(20, 20, 20, 0);
    color: rgb(25, 255, 25);
    cursor: pointer;
    transition: color 0.4s;
}
.iconHolder {
    height: 80%;
    width: 100%;
}
.iconHolder i::before {
    font-size: 3em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.navTile.cap {
    position: absolute;
    bottom: 5%;
    width: 100%;
    height: 20%;
}

.navTile a {
    transform: none;
    color: lavender;
}
.navTile a:hover {
    transform: none;
    background-color: rgba(20, 20, 20, 0.219);
    color: rgb(25, 255, 25);
    cursor: pointer;
    transition: color 0.4s;
    text-decoration: none;
}
.cap p {
    text-align: center;
    font-size: 0.7em;
    padding-top: 1vh;
    margin: 0;
}
 .navItem {
     text-align: center;
 }

/* #region ABOUT ME PANEL */
#aboutMePanel {
    background-color: rgb(8, 8, 8);
    color: white;
}

#aboutMePanel p {
    text-align: justify;
    margin: 0 10vw 0 10vw;
    font-size: 3vmin;
}
#aboutMePanel h1 {
    text-align: center;
    font-size: 5vmin;
}
/* #endregion */
 

/* #region FOOTER / CONTACT */
#contact {
    height: 100%;
}
footer {
    height: 20vh;
    
}
.signature {
    font-size: 10px;
    text-align: center;
    color: rgb(114, 114, 114);
  }
  .signature p{
    margin: 0;
  }
  .signature a{
    color: rgb(114, 114, 114);

  }
  .signature a:hover{
    color: rgb(94, 94, 94);
  }

/* #endregion */

.midPanel {
    background-color: rgb(8, 8, 8);
    padding: 5vh 0 5vh 0;
}

/* #region PROJECTS */
.projectsTitle h1 {
    color: white;
    font-size: 5vmin;
    text-align: center;
}
.projectTile {
    background-color: rgb(172, 172, 172);
    position: relative;
    border: 2px solid #444444;
}
.projectTile img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.projectTile:hover .projectCap {
    opacity: 100%;
    transition: opacity 1.5s;
}
.projectTile:hover .githubLink {
    opacity: 100%;
    transition: opacity 1.5s;
}


.projectCap {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0000007e;
    color: white;
    text-align: center;
    font-size: 4vmin;
    padding-top: 30%;
    z-index: 1;
    /* top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}


.githubLink {
    margin: 1vmin;
    color: white;
    text-transform: none;
    text-decoration: none;
}

.githubLink i::before {
    margin: 1vmin;
    color: white;
    text-transform: none;
    text-decoration: none;
}

.githubLink:hover {
    color: inherit;
    text-decoration: none;
}

.projectInfo {
    /* background-color: rgba(255, 255, 240, 0.185); */
    
    border-bottom: 1px solid rgb(25, 255, 25);
}
.projectTechnology {
    margin: 1vmin;
    color: white;
}
.projectTechnology i::before {
    margin: 1vmin;
}
/* #endregion */