body {
    background-color: #444444;
    font-size: clamp(16px, 4vw, 22px); 
    color: black;
}

.bg-test {
    background-color: rgba(137, 43, 226, 0.61);
}

.bg-test2 {
    background-color: rgba(0, 0, 0, 0.719);
}

.headerTile {
    margin-top: 2vw;
    box-shadow: 1vw 1vw 2vw black;
}

#about {

}
#headerImg {
    background-color: rgba(216, 191, 216, 0.199);
    font-size: 5vmin;
}   
#name {
    font-size: 2em;
}


#headerImg img {
    width: 100%;
    height: 100%;
}

.backImg {
    background-image: url('../img/bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: content-box;
    /* background-position: center; */
}
 .panel {
    margin-top: 0vw;
    background-color: rgb(8, 8, 8)
 }